@mixin listColumn($view: "xs-"){
  @for $i from 1 through 6 {
    &.list-#{$view + $i}{
      margin: 0;
      .property {
        @if $view == "xs-" {
          @include respond-to("phone") {
            width: 100% / $i;
            float: left;
            &:nth-child(#{$i}n+1){
              clear: both;
            }
          }
        } @else if $view == "md-"{
          @include respond-to("tablet"){
            width: 100% / $i;
            float: left;
            &:nth-child(#{$i}n+1){
              clear: both;
            }
          }
        } @else if $view == ""{
          width: 100% / $i;
          float: left;
          &:nth-child(#{$i}n+1){
            clear: both;
          }
        }
      }
    }
  }
}

@mixin listSupport(){
  .list{
    @include listColumn("");
    @include listColumn("xs-");
    @include listColumn("md-");
    &:after, &:before{
      clear: both;
      content: " ";
      display: table;
    }
  }
}