// $break-small: $view-phone;
// $break-medium: $view-tablet;
// $break-large: $view-desktop;
// $break-huge: $view-lg-desktop;

@mixin respond-to($media) {  
  @if $media == "phone" {
    @media (max-width: $view-phone) {
      @content;
    }
  } @else if $media == "tablet" {
    @media (min-width: $view-phone + 1px) and (max-width: $view-tablet) {
      @content;
    }
  } @else if $media == "desktop" {
    @media (min-width: $view-tablet + 1px) {
      @content;
    }
  }
}