section.section.section-home-like-to-proceed
  .container.text-center
    p.
      The computation above is for illustration purposes only and is not an offer of credit/banking facilities from the Bank. 
    p.text-red.
      Click #[a(href="#", title="terms & conditions") here] to view full Terms & Conditions.

    figure.box-img
      img(src="images/banking.png", alt="banking")/

    h3 How would you like to proceed?

    .list.list-3.list-xs-1.list-proceed
      mixin proceed()
        .property
          .wrapper
            figure.box-img.box-real
              img(src="images/edit.png", alt="apply now")/
              figcaption.caption.text-uppercase I AM READY TO APPLY 
            button.btn.btn-block.btn-primary APPLY NOW
      - for (var i = 0; i < 3; i++)
        +proceed()
