section.section.section-home-purchase-price.theme-dark
  .container.text-center
    .paragraph
      .title
        hr.red
        h3 What is the property purchase price I can afford?
      p Maximum purchase price and estimated monthly instalment (reflected in SGD/SGD equivalent)
    .list.list-2.list-afford
      - for (var i = 0; i < 2; i++)
        +property(true)
    
    .instalment
      h4 Monthly instalment over a loan tenor of 27 years

      .table.table-vertical
        .title-col
          .wrapper
            .list.list-1.list-md-1
              .property
                p If Interest rate is
                p.text-sky Your Monthly Instalment is
        .content-col
          .wrapper
            .list.list-5.list-md-1.list-xs-1
              mixin instalment()
                .property
                  p 1.5%p.a.
                  p $3,000
              - for (var i = 0; i < 5; i++)
                +instalment()
    
    .break-down 
      h4 Capital Outlay Breakdown
      .list.list-5.list-md-2.list-xs-1.list-break-down
        - for (var i = 0; i < 5; i++)
          +property(true)
      
      button.btn.btn-second.text-center REDUCE CAPITAL OUTLAY