section.section.section-home-i-borrow.theme-light
  .container.text-center
    .paragraph
      .title
        hr.hr-sort.red
        h3 How much can I borrow? 
      p The indicative results below are based on your inputs
    .list.list-4.list-md-2.list-xs-1.text-center
      - for (var i = 0; i < 4; i++)
        +property(false) 
    