@import "uob/variables";
@import "uob/mixins/responsive";
@import "uob/fonts";
@import "uob/lines";
@import "uob/buttons";
@import "uob/grid";
@import "uob/paragraph";
body{
  padding: 0;
  margin: 0;
  font-family: $general-font;
  -webkit-font-smoothing: antialiased; 
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-size: $font-base-size;
  line-height: 16px;
}

img 
{
  border: 0;
}

a 
{
  text-decoration: none;
  color: inherit;
}

a:hover 
{
  text-decoration: underline;
  color: #ed1b2c;
}

.bold
{
  font-weight: 700;
}
.medium{
  font-weight: 500;
}

header{
  background-color: $header-bg-color;
  figure{
    padding-top: 20px;
    padding-bottom: 20px;
    figcaption{
      color: $color-white;
      font-size: 24px;
      font-weight: 500;    
      margin-top: 21px;    
      line-height: 28px;
    }
  }
}

footer{
  min-height: 120px;
}
figure{
  margin: 0;
}


.container{
  width: 740px; 
  margin: auto;
}

h3{
  font-weight: 500;
  font-size: $font-heading-size;
  color: $heading-color;
  margin-top: 9px;
  margin-bottom: 9px;
  line-height: 28px;
}
h4{
  font-weight: 500;
  font-size: $font-heading-light-size;
  color: $heading-light-color;
  line-height: $font-heading-light-size;
}
p{
  font-weight: 300;
  font-size: $font-text-size;
  color: $text-color;
  margin-top: 3px;
  margin-bottom: 9px;
  line-height: 20px;
}

.text-center{
  text-align: center;
}
.text-uppercase{
  text-transform: uppercase;
}
.text-red{
  color: $color-red;
}
.text-blue{
  color: $color-blue;
}
.text-sky{
  color: $color-sky;
}

.price{
  font-size: $font-price-size;
  &.price-sky{
    color: $price-color;
  }
}

.table{
  text-align: left;
  p{
    margin-top: 12px;    
    margin-bottom: 11px;
  }
  .title-col{
    font-family: $table-title-font; 
    p{
      font-size: $font-table-title-size;
      padding-left: 7px;
    }
  }
  .content-col{
    p{
      padding-left: 32px;
      font-weight: 500;
      &:last-child{
        color: $color-sky;
      }
    }
  }
}

.caption{
  margin-top: 14px;
}

.box-img:not(.box-real){
  img{
    width: 100%;
  }
}
.section{
  padding-top: 41px;
  padding-bottom: 34px;
  &.section-home-purchase-price{
    .btn{
      margin-top: 28px;
      margin-bottom: 26px;
    }
  }
  &.section-home-purchase-price{
    > .container{
      > .paragraph{
        margin-top: 0;
      }
    }
    .instalment, .list.list-afford{
      margin-bottom: 56px;
    }
    .instalment{
      h4{

      }
    }
    .break-down{
      h4{
        margin-bottom: 21px;
      }
    }
  }
  &.section-home-like-to-proceed{
    h3{
      margin-bottom: 28px;
    }
    p{    
      margin-top: 14px;
      margin-bottom: 22px;
    }
    > .container{
      > figure{
        margin-top: 31px;
        margin-bottom: 55px;
      }
    }
    .caption{
      margin-top: 6px;
      margin-bottom: 6px;
      color: $color-grey-a;
      font-family: $table-title-font;
    }
    .btn{
      padding: 13px;
    }
    .property{
      > .wrapper{
        border-left: 1px solid $color-grey-b;
      }
      &:first-child{
        > .wrapper{
          border-left: 0;
        }
      }
    }
  }
}