body
{
	padding: 0;
	margin: 0;
	
	overflow-x: hidden;
	
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	
	color: #262626;
	font-size: 14px;
	line-height: 16px;
}

img 
{
	border: 0;
}

a 
{
	text-decoration: none;
	color: inherit;
}

a:hover 
{
	text-decoration: underline;
	color: #ed1b2c;
}

.bold
{
	font-weight: bold;
}

.underline
{
	text-decoration: none;
}

.italic
{
	font-style: italic;
}

.mWrapper
{
	max-width: 830px;
	margin-left: auto;
	margin-right: auto;
}

.iWrapper
{
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.abs
{
	position: absolute;
}

.rel
{
	position: relative;
}

.oHide
{
	overflow: hidden;
}

.fLeft
{
	float: left;
}

.fRight
{
	float: right;
}

.clear
{
	clear: both;	
}

.hidden
{
	display: none;	
}

.visible
{
	display: block;	
}

.vHidden
{
	visibility: hidden;
}

.vVisible
{
	visibility: visible;
}

.button
{
	padding: 5px 20px;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	text-align: center;
	
	color: #FFFFFF;

	cursor: pointer;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: inset 0px -3px 2px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px -3px 2px 0px rgba(0,0,0,0.3);
	box-shadow: inset 0px -3px 2px 0px rgba(0,0,0,0.3);
	
	min-width: 70px;
}

.button.redButton
{
	background-color: #ed1b2c;
}

.button.blueButton
{
	background-color: #0751d2;
}

.button.greyButton
{
	background-color: #757575;
}


h1
{
	margin: 0;
	padding: 0;
	
	font-size: 20px;
	line-height: 24px;
}
h2
{
	margin: 0;
	padding: 0;
	
	font-size: 20px;
	line-height: 24px;
}



/* Input Styles */
input.textBox
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #ffffff;
	border: 1px solid #CCCCCC;
	padding: 5px 4%;
	
	font-size: 14px;
	line-height: 16px;
	
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.2);
}

	
select.selectBox {
    
    padding: 5px 7px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

    border: none;
	
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.2);
}
	
	
.checkboxContainer
{
	overflow: hidden;
}

	.checkboxContainer .checkboxItem
	{
		float: left;
	}

	.checkboxContainer .checkboxLabel
	{
		position: relative;
		padding-top: 3px;
		margin-left: 28px;
		margin-bottom: 10px;
	}


/* Color Guides */
.bgRed
{
	background-color: #ed1c24;
}

.txtRed
{
	color: #ed1c24;
}

.txtBlue
{
	color: #0751d2;	
}

.txtDarkBlue
{
	color: #262f61;	
}

.desktopOnly
{
	display: block !important;
}

.mobileOnly
{
	display: none !important;
}

	

@media only screen and (max-width:830px) {
	.mWrapper
	{
		max-width: 95%;
	}
	
	.iWrapper
	{
		max-width: 90%;
	}
	
	.iWrapper.headerWrapper
	{
		max-width: 100%;
	}
	
	.desktopOnly, .desktopOnlyInline
	{
		display: none !important;
	}

	.mobileOnly
	{
		display: block !important;
	}
	
	
}