.ui-corner-all.dialog,
.ui-corner-all, 
.ui-corner-bottom, 
.ui-corner-right, 
.ui-corner-br, 
.ui-corner-left, 
.ui-corner-bl, 
.ui-corner-tr, 
.ui-corner-top, 
.ui-corner-tl {
    border-radius: 6px;
    
}

.ui-draggable, .ui-droppable {
    background-position: left top;
}

.ui-widget-content {
    background-color: #FFF;
	/*overflow: auto;*/
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.ui-widget {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 75%;
}


.ui-resizable {
    position: relative;
}

.ui-dialog {
    /*overflow: hidden;*/
    padding: 10px;
    /*position: fixed;*/
	z-index: 100;
}

.ui-widget-overlay {
    background-color: #000;
    opacity: 0.7;
	filter: alpha(opacity = 70);
	height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
	z-index: 99;
}

.ui-dialog-titlebar 
{
    height: 0px;
}

.ui-dialog .ui-dialog-titlebar-close {
    height: 41px;
    width: 41px;
    position: absolute;
    top: -20px;
	right: -20px;
	border: 0;
	background:url(../img/btn_close.png) no-repeat top right;
	cursor: pointer;
	outline: 0;
}