

.resultsPage .table { 
	width:100%;
	font-size:14px;
	font-weight:normal;
	margin-bottom:30px;
	border:0;
	border-spacing:0;
}

.resultsPage .table-inner {
	width:55%;
	max-width:413px;
}

.resultsPage .table-top {
	padding:10px 0 15px 0;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	border:solid 3px #cfd2d4;
	border-bottom:0.5em;
	background: url(../img/gradient.jpg) 100% 100% repeat;
	background-position:0 -14px;
	font-size:18px;
	font-weight:bold;
	margin-bottom:-5px;
}

.resultsPage .table-row {
	margin-left:6px;
}

.resultsPage .tableCell {
	width:50%;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	display:inline-block;
	background:#FFFFFF;
	margin-bottom:-4px;
	margin-left:-6px;
}

.resultsPage .tableBlue { background:#E8FAF7; }


.resultsPage .tableLeft {
	border-left:solid 3px #cfd2d4;
	border-right:solid 1px #cfd2d4;
}

.resultsPage .tableRight {
	border-right:solid 3px #cfd2d4;
	border-left:solid 1px #cfd2d4;
}

.resultsPage .table-bottomLeft { 
	border-left:solid 3px #cfd2d4;
	border-right:solid 1px #cfd2d4;
	border-bottom:solid 3px #cfd2d4;
    border-bottom-left-radius: 1em;
}

.resultsPage .table-bottomRight { 
	border-right:solid 3px #cfd2d4;
	border-left:solid 1px #cfd2d4;
	border-bottom:solid 3px #cfd2d4;
    border-bottom-right-radius: 1em;
}

.resultsPage .tablePrints {
	color:#8A8A8A;
	padding:15px;
	line-height:15px;
}

.resultsPage .tablePrints a {
	color:#8A8A8A;
}

.resultsPage .optionBox {
	margin-bottom:25px;
}

.resultsPage .optionBox .optionTitle
{
	margin-bottom:25px;
	font-size:24px;
	line-height: 26px;
	color:#636363;
}

.resultsPage .optionCol {
	padding: 0 10px;
	width:30%;
	font-size:15px;
	display:inline-block;
	text-align:center;
	cursor: pointer;
}

.resultsPage .optionImg {
	padding-bottom:15px;
}

.resultsPage .optionImg img { max-width:87px; }
 
.resultsPage .optionTxt {
	padding-bottom:5px;
	/*letter-spacing:-0.5px;*/
} 

.resultsPage .optionBox .borderR {
	border-right:solid 2px #B1B4B5;
}

.resultsPage .btnRed {
	font-size:18px;
	width:100%;
	background:#ed1b2c;
	color:#FFF;
	padding:15px 0;
	margin:0 auto;
}

.resultsPage .form {
	width:97%;
	font-size:13px;
	background:#f2f2f2;
	margin:0 auto;
	color:#000;
}

.resultsPage .form a {
	color:#0751d2
}

.resultsPage .form .formInput
{
		
}

.resultsPage .formContent { padding:10px 8% 20px 8%; }

.resultsPage .formContent .formTitle
{
	font-size: 	20px;
	font-weight: bold;
	margin: 15px 0 10px;
}

.resultsPage .formLabel { 
	width:200px; margin-right:30px; float:left; padding:5px; 
}

.resultsPage .formLabelContact {
	width:150px; margin-right:30px; float:left; padding:5px; 
}

.resultsPage .form .inputTxt {
	width:240px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:5px;
	margin:0 0 10px 0; 
	
	/*Alvin*/
	border: 1px solid #f2f2f2;
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.2);
	border: 1px solid #CCCCCC;
}

.resultsPage .form .inputShortTxt {
	width:100px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:7px;
	margin:0 10px 0 0; 
	float:left;
	
	/*Alvin*/
	border: 1px solid #f2f2f2;
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.2);
	border: 1px solid #CCCCCC;
}

.resultsPage .form .inputTxtContact {
	margin-left:82px;
}

.resultsPage .form .styled-select select {
   background: transparent;
   width: 250px;
   padding: 5px;
   font-size: 14px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   /*-webkit-appearance: none;*/
   
   /*Alvin*/
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.2);
	
}


.resultsPage .form .styled-select {
   width: 250px;
   border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
   margin:0 0 10px 0; 
   overflow: hidden;
   /*background: url(../img/dropdownbutton.png) no-repeat right #FFF;*/
   background-color: #FFFFFF;
   border: 1px solid #ccc;
}

.resultsPage .form .styled-select-short select{
   background: transparent;
   width: 120px;
   padding: 5px;
   font-size: 14px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   /*-webkit-appearance: none;*/
   
    /*Alvin*/
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.2);
}

.resultsPage .form .styled-select-short {
   width: 120px;
   border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
   margin:0 0 10px 0; 
   overflow: hidden;
   /*background: url(../img/dropdownbutton.png) no-repeat right #FFF;*/
   background-color: #FFFFFF;
   border: 1px solid #ccc;
}

.resultsPage .form .styled-select-status select{
   background: transparent;
   width: 70px;
   padding: 5px;
   font-size: 14px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   /*-webkit-appearance: none;*/
   margin-top:0;
   
    /*Alvin*/
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.2);
}

.resultsPage .form .styled-select-status {
   width: 70px;
   border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
   margin:0 0 10px 0; 
   overflow: hidden;
   /*background: url(../img/dropdownbutton.png) no-repeat right #FFF;*/
   background-color: #FFFFFF;
   border: 1px solid #ccc;
}

.resultsPage .contactNo { margin-bottom:50px; }
.resultsPage .contactNo2 { margin-bottom:70px; }

.resultsPage .contact_mobile { display:none; }

.resultsPage .radio-inline {
	display:inline-block;
	width:100px;
}

.resultsPage .tnc_txt {
	font-size:13px;
	color:#333;
	padding:5px;
	margin-top:20px;
}

.resultsPage .submit_txt { font-size:13px; color:#333333; line-height: 18px;}

.resultsPage .submit_check {
	float:left;
}

.resultsPage .submit_btn {
	margin-top:20px;
}
   


@media only screen and (max-width: 820px) {
    /* Style adjustments for viewports that meet the condition */
	
	.resultsPage .form { width:100%; margin-left:-10px; }
	
	.resultsPage .table-inner { width:90%; }
	
	.resultsPage .tablePrints { font-size:13px; }
	
	.resultsPage .optionTxt { display:none; }
	
	.resultsPage .optionCol { width:25% }
	
	.resultsPage .optionImg img { max-width:40% }
	
	.resultsPage .btnRed { font-size:14px; padding:5px 0 5px 0;}
	
	.resultsPage .formContent {  padding:10px 20px 10px 40px; }
	
	.resultsPage .formLabel, .formLabelContact { width:100% !important; float: none; }
	
	.resultsPage .form .inputTxtContact { margin-left:0 }
	
	.resultsPage .contactNo, .contactNo2 { margin-bottom:0 !important }
	
	.resultsPage .form .inputContactName { width:155px; }
	
}

@media only screen and (max-width:600px) {
	.resultsPage .contact_mobile { display:block; margin-bottom:20px; }
}

@media only screen and (max-width: 480px) {
	
	.resultsPage .btnRed { font-size:12px;}
	
	.resultsPage .formContent {  padding:10px 10px 10px 20px; }
	
	.resultsPage .formLabel { width:100% }
	
	.resultsPage .form .inputContactName { width:155px; }
}

@media only screen and (max-width: 380px) {
	
	.resultsPage .btnRed { font-size:9px;}
	
	.resultsPage .form .inputTxt { width:78% }
	
	.resultsPage .form .styled-select select, .form .styled-select{ 
		width:100% 
	}
	
	.resultsPage .form .inputContactName { width:48%; }

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
