

img.hastip,
img.hastipLeft,
img.hastipBigWidth
{
	cursor: pointer;	
}

.tooltipsy {
    background-color: #262f61;
    
    color: #FFFFFF;
    padding: 10px;
    position: relative;
	width: 180px;
	
	font-size: 13px;
	line-height: 16px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	z-index: 99;
}

.tooltipsy:after {
    width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #262f61;
    content: "";
    position: absolute;
    right: 90px;
	bottom: -10px;
    z-index: 100;
}

.tooltipsyLeft
{
	margin-right: 155px;
}
.tooltipsyLeft:after {
	right: 10px;
}

.tooltipsyBigWidth
{
	width: 240px;
	margin-right: 155px;
}
	.tooltipsyBigWidth img
	{
		margin-top: 5px;	
	}
.tooltipsyBigWidth:after {
	right: 42px;
}