@font-face {
  font-family: 'agenda';
  src: url("../fonts/agenda-bold-webfont.eot");
  src: url("../fonts/agenda-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/agenda-bold-webfont.woff2") format("woff2"), url("../fonts/agenda-bold-webfont.woff") format("woff"), url("../fonts/agenda-bold-webfont.ttf") format("truetype"), url("../fonts/agenda-bold-webfont.svg#agendabold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'agenda';
  src: url("../fonts/agenda-light-opentype-webfont.eot");
  src: url("../fonts/agenda-light-opentype-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/agenda-light-opentype-webfont.woff2") format("woff2"), url("../fonts/agenda-light-opentype-webfont.woff") format("woff"), url("../fonts/agenda-light-opentype-webfont.ttf") format("truetype"), url("../fonts/agenda-light-opentype-webfont.svg#agenda_lightregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'agenda';
  src: url("../fonts/agenda-medium-webfont.eot");
  src: url("../fonts/agenda-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/agenda-medium-webfont.woff2") format("woff2"), url("../fonts/agenda-medium-webfont.woff") format("woff"), url("../fonts/agenda-medium-webfont.ttf") format("truetype"), url("../fonts/agenda-medium-webfont.svg#agendamedium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'agenda_condensed';
  src: url("../fonts/agenda-mediumcondensed-opentype-webfont.eot");
  src: url("../fonts/agenda-mediumcondensed-opentype-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/agenda-mediumcondensed-opentype-webfont.woff2") format("woff2"), url("../fonts/agenda-mediumcondensed-opentype-webfont.woff") format("woff"), url("../fonts/agenda-mediumcondensed-opentype-webfont.ttf") format("truetype"), url("../fonts/agenda-mediumcondensed-opentype-webfont.svg#agenda_condensedmedium") format("svg");
  font-weight: 500;
  font-style: normal;
}
hr {
  border: none;
  min-height: 1px;
}
hr.red {
  background-color: #f41331;
}
hr.dark {
  background-color: #d7d7d7;
  margin-top: 10px;
  margin-bottom: 14px;
}
.list-afford hr.dark {
  margin-top: 6px;
  margin-bottom: 12px;
}

.btn {
  padding: 14px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-size: 18px;
  font-weight: 500;
}
.btn.btn-second {
  background-color: #012761;
}
.btn.btn-second:hover {
  background-color: #011d48;
}
.btn.btn-second:focus {
  background-color: #00132f;
}
.btn.btn-primary {
  background-color: #f41331;
}
.btn.btn-primary:hover {
  background-color: #e30b27;
}
.btn.btn-primary:focus {
  background-color: #cb0923;
}
.btn.btn-block {
  width: 100%;
}

.list.list-1 {
  margin: 0;
}
.list.list-1 .property {
  width: 100%;
  float: left;
}
.list.list-1 .property:nth-child(1n+1) {
  clear: both;
}
.list.list-2 {
  margin: 0;
}
.list.list-2 .property {
  width: 50%;
  float: left;
}
.list.list-2 .property:nth-child(2n+1) {
  clear: both;
}
.list.list-3 {
  margin: 0;
}
.list.list-3 .property {
  width: 33.33333%;
  float: left;
}
.list.list-3 .property:nth-child(3n+1) {
  clear: both;
}
.list.list-4 {
  margin: 0;
}
.list.list-4 .property {
  width: 25%;
  float: left;
}
.list.list-4 .property:nth-child(4n+1) {
  clear: both;
}
.list.list-5 {
  margin: 0;
}
.list.list-5 .property {
  width: 20%;
  float: left;
}
.list.list-5 .property:nth-child(5n+1) {
  clear: both;
}
.list.list-6 {
  margin: 0;
}
.list.list-6 .property {
  width: 16.66667%;
  float: left;
}
.list.list-6 .property:nth-child(6n+1) {
  clear: both;
}
.list.list-xs-1 {
  margin: 0;
}
@media (max-width: 560px) {
  .list.list-xs-1 .property {
    width: 100%;
    float: left;
  }
  .list.list-xs-1 .property:nth-child(1n+1) {
    clear: both;
  }
}
.list.list-xs-2 {
  margin: 0;
}
@media (max-width: 560px) {
  .list.list-xs-2 .property {
    width: 50%;
    float: left;
  }
  .list.list-xs-2 .property:nth-child(2n+1) {
    clear: both;
  }
}
.list.list-xs-3 {
  margin: 0;
}
@media (max-width: 560px) {
  .list.list-xs-3 .property {
    width: 33.33333%;
    float: left;
  }
  .list.list-xs-3 .property:nth-child(3n+1) {
    clear: both;
  }
}
.list.list-xs-4 {
  margin: 0;
}
@media (max-width: 560px) {
  .list.list-xs-4 .property {
    width: 25%;
    float: left;
  }
  .list.list-xs-4 .property:nth-child(4n+1) {
    clear: both;
  }
}
.list.list-xs-5 {
  margin: 0;
}
@media (max-width: 560px) {
  .list.list-xs-5 .property {
    width: 20%;
    float: left;
  }
  .list.list-xs-5 .property:nth-child(5n+1) {
    clear: both;
  }
}
.list.list-xs-6 {
  margin: 0;
}
@media (max-width: 560px) {
  .list.list-xs-6 .property {
    width: 16.66667%;
    float: left;
  }
  .list.list-xs-6 .property:nth-child(6n+1) {
    clear: both;
  }
}
.list.list-md-1 {
  margin: 0;
}
@media (min-width: 561px) and (max-width: 768px) {
  .list.list-md-1 .property {
    width: 100%;
    float: left;
  }
  .list.list-md-1 .property:nth-child(1n+1) {
    clear: both;
  }
}
.list.list-md-2 {
  margin: 0;
}
@media (min-width: 561px) and (max-width: 768px) {
  .list.list-md-2 .property {
    width: 50%;
    float: left;
  }
  .list.list-md-2 .property:nth-child(2n+1) {
    clear: both;
  }
}
.list.list-md-3 {
  margin: 0;
}
@media (min-width: 561px) and (max-width: 768px) {
  .list.list-md-3 .property {
    width: 33.33333%;
    float: left;
  }
  .list.list-md-3 .property:nth-child(3n+1) {
    clear: both;
  }
}
.list.list-md-4 {
  margin: 0;
}
@media (min-width: 561px) and (max-width: 768px) {
  .list.list-md-4 .property {
    width: 25%;
    float: left;
  }
  .list.list-md-4 .property:nth-child(4n+1) {
    clear: both;
  }
}
.list.list-md-5 {
  margin: 0;
}
@media (min-width: 561px) and (max-width: 768px) {
  .list.list-md-5 .property {
    width: 20%;
    float: left;
  }
  .list.list-md-5 .property:nth-child(5n+1) {
    clear: both;
  }
}
.list.list-md-6 {
  margin: 0;
}
@media (min-width: 561px) and (max-width: 768px) {
  .list.list-md-6 .property {
    width: 16.66667%;
    float: left;
  }
  .list.list-md-6 .property:nth-child(6n+1) {
    clear: both;
  }
}
.list:after, .list:before {
  clear: both;
  content: " ";
  display: table;
}

.section-home-i-borrow .list {
  margin-left: -18px;
  margin-right: -18px;
}
.section-home-i-borrow .list .property > .wrapper {
  padding: 18px;
}
.section-home-i-borrow .list .property > .wrapper .content {
  background-color: #eee;
  padding: 24px 22px 18px;
}
.list.list-afford .property:first-child > .wrapper {
  padding-left: 170px;
  padding-right: 82px;
}
.list.list-afford .property:last-child > .wrapper {
  padding-right: 170px;
  padding-left: 82px;
}
.list.list-afford .property > .wrapper {
  padding: 32px 126px 12px;
}
.list.list-break-down {
  margin-left: -6px;
  margin-right: -6px;
}
.list.list-break-down .property > .wrapper {
  padding: 0 6px;
}
.list.list-break-down .property > .wrapper .content {
  background-color: #fff;
  padding: 1px 10px 10px;
}
.list.list-proceed {
  margin-left: -22px;
  margin-right: -22px;
}
.list.list-proceed .property > .wrapper {
  padding: 0 22px;
}

.table.table-vertical .list {
  background-color: #fff;
}
.table.table-vertical .title-col {
  width: 23%;
  float: left;
}
.table.table-vertical .title-col > .wrapper {
  padding: 0 5px;
}
.table.table-vertical .content-col {
  width: 77%;
  float: left;
}
.table.table-vertical .content-col > .wrapper {
  padding: 0 0 0 9px;
}
.table.table-vertical:before, .table.table-vertical:after {
  content: " ";
  display: table;
  clear: both;
}

.paragraph {
  margin-bottom: 10px;
  margin-top: 10px;
}
.paragraph .title {
  position: relative;
  z-index: 0;
  margin-top: 1px;
  margin-bottom: 3px;
}
.paragraph .title hr {
  position: absolute;
  top: 50%;
  height: 3px;
  margin-top: -3px;
  width: 80%;
  left: 50%;
  margin-left: -40%;
  z-index: -1;
  border: none;
}
.paragraph .title hr.hr-sort {
  width: 50%;
  left: 50%;
  margin-left: -25%;
}
.paragraph .title h3 {
  display: inline-block;
  padding: 0 10px;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  line-height: 16px;
}

img {
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: #ed1b2c;
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

header {
  background-color: #243067;
}
header figure {
  padding-top: 20px;
  padding-bottom: 20px;
}
header figure figcaption {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin-top: 21px;
  line-height: 28px;
}

footer {
  min-height: 120px;
}

figure {
  margin: 0;
}

.container {
  width: 740px;
  margin: auto;
}

h3 {
  font-weight: 500;
  font-size: 22px;
  color: #272e60;
  margin-top: 9px;
  margin-bottom: 9px;
  line-height: 28px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
  color: #243067;
  line-height: 20px;
}

p {
  font-weight: 300;
  font-size: 18px;
  color: #243067;
  margin-top: 3px;
  margin-bottom: 9px;
  line-height: 20px;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-red {
  color: #f41331;
}

.text-blue {
  color: #012761;
}

.text-sky {
  color: #009cd9;
}

.price {
  font-size: 24px;
}
.price.price-sky {
  color: #009cd9;
}

.table {
  text-align: left;
}
.table p {
  margin-top: 12px;
  margin-bottom: 11px;
}
.table .title-col {
  font-family: Arial, Helvetica, sans-serif;
}
.table .title-col p {
  font-size: 12px;
  padding-left: 7px;
}
.table .content-col p {
  padding-left: 32px;
  font-weight: 500;
}
.table .content-col p:last-child {
  color: #009cd9;
}

.caption {
  margin-top: 14px;
}

.box-img:not(.box-real) img {
  width: 100%;
}

.section {
  padding-top: 41px;
  padding-bottom: 34px;
}
.section.section-home-purchase-price .btn {
  margin-top: 28px;
  margin-bottom: 26px;
}
.section.section-home-purchase-price > .container > .paragraph {
  margin-top: 0;
}
.section.section-home-purchase-price .instalment, .section.section-home-purchase-price .list.list-afford {
  margin-bottom: 56px;
}
.section.section-home-purchase-price .break-down h4 {
  margin-bottom: 21px;
}
.section.section-home-like-to-proceed h3 {
  margin-bottom: 28px;
}
.section.section-home-like-to-proceed p {
  margin-top: 14px;
  margin-bottom: 22px;
}
.section.section-home-like-to-proceed > .container > figure {
  margin-top: 31px;
  margin-bottom: 55px;
}
.section.section-home-like-to-proceed .caption {
  margin-top: 6px;
  margin-bottom: 6px;
  color: #636363;
  font-family: Arial, Helvetica, sans-serif;
}
.section.section-home-like-to-proceed .btn {
  padding: 13px;
}
.section.section-home-like-to-proceed .property > .wrapper {
  border-left: 1px solid #b7b7b7;
}
.section.section-home-like-to-proceed .property:first-child > .wrapper {
  border-left: 0;
}
