doctype html
html(lang="en")
  block vars
    - var title = 'UOB'
    - var theme = ''
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge;")
    title !{title}
    include links
    script(type="text/javascript", src="javascripts/jquery-1.11.3.min.js")
    script(type="text/javascript", src="javascripts/modernizr.custom.62013.js")
    script(type="text/javascript", src="javascripts/respond.src.js")

  body(class=theme)
    include mixins
    include header
    block content
    include footer 