mixin property(sort)
  .property
    .wrapper
      .content
        if ((sort !== undefined || sort != null) && !sort)
          .box-img.box-real
            img(src="images/home.png", alt="property loan amount")
        .caption.text-uppercase PROPERTY LOAN AMOUNT
        hr.dark
        .price.price-sky.medium $800,000