.btn{
  padding: 14px;
  color: $color-white;
  text-transform: uppercase;
  border: none;
  font-size: $font-text-size;
  font-weight: 500;
  &.btn-second{
    background-color: $button-bg-second-color;
    &:hover{
      background-color: darken($button-bg-second-color, 5%);
    }
    &:focus{
      background-color: darken($button-bg-second-color, 10%);
    }
  }
  &.btn-primary{
    background-color: $button-bg-primary-color;
    &:hover{
      background-color: darken($button-bg-primary-color, 5%);
    }
    &:focus{
      background-color: darken($button-bg-primary-color, 10%);
    }
  }
  &.btn-block{
    width: 100%;
  }
}