@font-face {
  font-family: 'agenda';
  src: url('../fonts/agenda-bold-webfont.eot');
  src: url('../fonts/agenda-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/agenda-bold-webfont.woff2') format('woff2'), url('../fonts/agenda-bold-webfont.woff') format('woff'), url('../fonts/agenda-bold-webfont.ttf') format('truetype'), url('../fonts/agenda-bold-webfont.svg#agendabold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'agenda';
  src: url('../fonts/agenda-light-opentype-webfont.eot');
  src: url('../fonts/agenda-light-opentype-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/agenda-light-opentype-webfont.woff2') format('woff2'), url('../fonts/agenda-light-opentype-webfont.woff') format('woff'), url('../fonts/agenda-light-opentype-webfont.ttf') format('truetype'), url('../fonts/agenda-light-opentype-webfont.svg#agenda_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'agenda';
  src: url('../fonts/agenda-medium-webfont.eot');
  src: url('../fonts/agenda-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/agenda-medium-webfont.woff2') format('woff2'), url('../fonts/agenda-medium-webfont.woff') format('woff'), url('../fonts/agenda-medium-webfont.ttf') format('truetype'), url('../fonts/agenda-medium-webfont.svg#agendamedium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'agenda_condensed';
  src: url('../fonts/agenda-mediumcondensed-opentype-webfont.eot');
  src: url('../fonts/agenda-mediumcondensed-opentype-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/agenda-mediumcondensed-opentype-webfont.woff2') format('woff2'), url('../fonts/agenda-mediumcondensed-opentype-webfont.woff') format('woff'), url('../fonts/agenda-mediumcondensed-opentype-webfont.ttf') format('truetype'), url('../fonts/agenda-mediumcondensed-opentype-webfont.svg#agenda_condensedmedium') format('svg');
  font-weight: 500;
  font-style: normal;
}