@import 'mixins/grid';

@include listSupport;

.list{
  .section-home-i-borrow & {
    margin-left: -18px;
    margin-right: -18px;
    .property > .wrapper{
      padding: 18px;
      .content{
        background-color: $color-dark;
        padding: 24px 22px 18px;
      }
    }
  }
  &.list-afford{
    .property {
      &:first-child{
        > .wrapper{
          padding-left: 170px;
          padding-right: 82px
        }
      }
      &:last-child{
        > .wrapper{
          padding-right: 170px;
          padding-left: 82px
        }
      }
      > .wrapper{
        padding: 32px 126px 12px;
      }

    }
  }
  &.list-break-down{
    margin-left: -6px;
    margin-right: -6px;
    .property > .wrapper{
      padding: 0 6px;
      .content{
        background-color: $color-white;
        padding: 1px 10px 10px;
      }
    }
  }
  &.list-proceed{
    margin-left: -22px;
    margin-right: -22px;
    .property > .wrapper{
      padding: 0 22px;
    }
  }


}

.table{
  &.table-vertical{
    .list{
      background-color: $color-white;
    }
    .title-col{
      width: 23%;
      float: left;
      > .wrapper{
        padding: 0 5px;
      }
    }
    .content-col{
      width: 77%;
      float: left;
      > .wrapper{
        padding: 0 0 0 9px;
      }
    }
    &:before, &:after{
      content: " ";
      display: table; 
      clear: both;
    }
  }
}
