hr{
  border: none;
  min-height: 1px;
  &.red{
    background-color: $color-red;
  }
  &.dark{
    background-color: $line-color-grey; 
    margin-top: 10px;
    margin-bottom: 14px;
    .list-afford &{
      margin-top: 6px;
      margin-bottom: 12px;
    }
  } 
}