.paragraph{
  $width: 80%;
  margin-bottom: 10px;    
  margin-top: 10px;
  .title{
    position: relative;
    z-index: 0;    
    margin-top: 1px;
    margin-bottom: 3px;
    hr{
      position: absolute;
      top: 50%;
      height: 3px;
      margin-top: -3px;
      width: $width;
      left: 50%;
      margin-left: (100% - $width)/2 - 50%;
      z-index: -1;
      border: none;
      &.hr-sort{
        $width: 50%;
        width: $width;
        left: 50%;
        margin-left: (100% - $width)/2 - 50%; 
      }
    }
    h3{
      display: inline-block;
      padding: 0 10px; 
    }
  }
}