//== colors
$color-white: #fff;
$color-blue: #012761;
$color-blue-a: #272e60;
$color-blue-b: #243067;
$color-red: #f41331;
$color-sky: #009cd9;
$color-black: #000;
$color-dark: #eee;
$color-grey: #d7d7d7;
$color-grey-a: #636363;
$color-grey-b: #b7b7b7;

//## color heading
$header-bg-color: $color-blue-b;
$heading-color: $color-blue-a;
$heading-light-color: $color-blue-b;

//## color button
$button-color: $color-white;
$button-bg-second-color: $color-blue;
$button-bg-primary-color: $color-red;

//## color table
$price-color: $color-sky;
$table-color: $color-blue-a;

//## color text
$text-color: $color-blue-b;
$text-red: $color-red;

//## line
$line-color-grey: $color-grey;

//== fonts

//## font-family
$general-font: Arial, Helvetica, sans-serif;
$site-text-font: Arial, Helvetica, sans-serif;
$general-heading-font: Arial, sans-serif;
$general-heading-light-font: Arial, sans-serif;
$general-navigation-font: Arial, Helvetica, sans-serif;
$general-font-form: Arial, Helvetica, sans-serif;
$table-title-font: Arial, Helvetica, sans-serif;

//## font-size
$font-base-size: 14px;
$font-heading-size: 22px; 
$font-heading-light-size: 20px;
$font-text-size: 18px;
$font-price-size: 24px;
$font-property-size: 14px;
$font-table-title-size: 12px;

//## view
$view-phone: 560px;
$view-tablet: 768px;
$view-desktop: 992px;