@import "variables";
@import "mixins/responsive";

@include respond-to("tablet"){
  .container{
    width: auto;
  }
  .list{
    margin: 0 !important;
  }
  .list .property > .wrapper, .list .property > .wrapper > .content{
    padding: 18px 5px;
  }
  .list.list-afford .property:first-child > .wrapper, .list.list-afford .property:last-child > .wrapper{
    padding: 0;
  }
  .list.list-break-down .property > .wrapper{
    padding: 5px;
    .content{
      padding: 10px;
    }
  }

  .section-home-i-borrow .list .property > .wrapper{
    padding: 5px;
  }

  .table.table-vertical{
    .title-col, .content-col{
      width: 100%;
      float: none;
      margin: auto;
      > .wrapper {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    p{
      display: inline-block;
      padding-left: 0;
      text-align: left;
      &:first-child{
        width: 50%;
        text-align: right;
        padding-right: 0;
      }
    }
  }


  .section{
    padding-top: 41px;
    padding-bottom: 34px;
    &.section-home-purchase-price{
      .btn{
        margin-top: 28px;
        margin-bottom: 26px;
      }
    }
    &.section-home-purchase-price{
      > .container{
        > .paragraph{
          margin-top: 0;
        }
      }
      .instalment, .list.list-afford{
        margin-bottom: 56px;
      }
      .instalment{
        h4{

        }
      }
      .break-down{
        h4{
          margin-bottom: 21px;
        }
      }
    }
    &.section-home-like-to-proceed{
      h3{
        margin-bottom: 28px;
      }
      p{    
        margin-top: 14px;
        margin-bottom: 22px;
      }
      > .container{
        > figure{
          margin-top: 31px;
          margin-bottom: 55px;
        }
      }
      .caption{
        margin-top: 6px;
        margin-bottom: 6px;
        color: $color-grey-a;
        font-family: $table-title-font;
      }
      .btn{
        padding: 13px;
      }
    }
  }
}
@include respond-to("phone"){
  .container{
    width: auto;
  }

  .list{
    margin: 0 !important;
  }
  .list .property > .wrapper, .list .property > .wrapper > .content{
    padding: 18px 5px;
  }
  .list.list-afford .property:first-child > .wrapper, .list.list-afford .property:last-child > .wrapper{
    padding: 0;
  }
  .list.list-break-down .property > .wrapper{
    padding: 5px;
    .content{
      padding: 10px;
    }
  }

  .section-home-i-borrow .list .property > .wrapper{
    padding: 5px;
  }
  .table.table-vertical{
    .title-col, .content-col{
      width: 100%;
      float: none;
      margin: auto;
      > .wrapper {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    p{
      display: inline-block;
      padding-left: 0;
      text-align: left;
      &:first-child{
        width: 50%;
        text-align: right;
        padding-right: 0;
      }
    }
  } 

  .section.section-home-like-to-proceed {
    .list-proceed img{
      float: left;
      vertical-align: middle;
      margin-top: -8px;
    }
    .btn{
      width: 65%;
      margin-bottom: 25px;
    }
  }
}