@import "variables";
.theme-light{
  background-color: $color-white;
  .paragraph{
    .title{
      h3{
        background-color: $color-white; 
      }
    }
  }
}

.theme-dark{
  background-color: $color-dark;
  .paragraph{
    .title{
      h3{
        background-color: $color-dark; 
      }
    }
  }
}